<%- include('../partials/header.ejs', { includeLayouts: includeLayouts[0] }); -%>




    <body style="height: 100dvh;">

        <body class="d-flex justify-content-center align-items-center flex-column">


            <h3>Aceasta pagina nu exista!</h3>

            <a href="/" class="btn btn-primary">Acasa</a>

        </body>


    </body>




    <%- include('../partials/footer.ejs', { includeLayouts: includeLayouts[0] }); -%>